AX_PIPELINE_VENDOR=manual
AX_RUN_ROOT=runs
IMAGE_MODEL_URL=
IMAGE_MODEL_API_KEY=
IMAGE_MODEL_API_KEY_HEADER=
VIDEO_MODEL_URL=
VIDEO_MODEL_API_KEY=
VIDEO_MODEL_API_KEY_HEADER=
JUDGE_MODEL_API_KEY=
LLM_JUDGE_URL=
LLM_JUDGE_MODEL=
LLM_JUDGE_API_KEY=
LLM_JUDGE_API_KEY_HEADER=
LLM_JUDGE_MAX_RETRIES=2
